{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bird predictor</title>
    <link rel="stylesheet" href="{% static './dist/style.css' %}" />
  </head>


  <body>
    <div class="header">
        <h1 style="text-align: center;">Bird image and audio classifier</h1>
    </div>

      <div class="content">
        <p style="text-align: center;">  This birdsong belongs to the <strong> {{bird_sound}} </strong> </p>
        <p style="text-align: center;" ><a class="nav_button" style="text-align: center;"
           href="https://www.google.nl/search?q={{ bird_sound }}" target="_blank"> Click on this link for further information about this species </a> </p>
    </div>

    <div class="footer">
        <h4 style="text-align: center;"><a class="return_button" href="{% url 'index' %}"> Return to homepage </a></h4>
    </div>

  </body>
</html>